<html>
<center>
<head><title>REGISTER</title>
<style>
  body
  {
    background-color: rgba(100,140,200,0.4);
      
  }
  .link
  {
    color: red;
  }
</style>

</head>
<body>
   <h1>!!!A new member is coming to the familyyy..!!</h1>
<form action="/add_new_book/" method="post">
	<br>
   Book_name:-<input type="text" name="bookname" placeholder="Fault in our stars">
   <br>
   Author:-<input type="text" name="author" placeholder="prathm laturkar ">
   <br>
   Subject:-<input type="text" name="subject" placeholder="life">
   <br>
   copies:<input type="text" name="copies">
   <br>
   ratings:<input type="text" name="rating">
   <br>
   summary:<input type="text" name="summary">

   <br>
   {{usertypeerror}}
   <br>
    <input type="checkbox" name="checkbox" required >I agree all the terms & conditions..
      <br>
   <br>
   <button>ADD</button>

</form>
</body>
	
</center>
</html>
