<!DOCTYPE html>
<html>
<head>
	<title> all the books </title>

   <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/dashborad.css" rel="stylesheet">


<style>
    

</style>
</head>
<center>
	
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0 ">
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/remove_account/"><i class="fa fa-edit fa-fw"></i> Remove Account</a>
                        </li>
                        <li class="divider"></li>
 
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

</nav>

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/login/"><i class="fa fa-dashboard fa-fw"></i> Home</a>
            </li>
            <li>
                <a href="/edit_profile/"><i class="fa fa-table fa-fw"></i> Edit Profile</a>
            </li>
            <li>

                <a href="/current_status/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
             <li>
                 <a href="/library/"><i class="fa fa-edit fa-fw"></i>Library</a>
             </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->



    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>