<html>
<center>
<head><title>REGISTER</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">

</head>
<body>

   <h1>!!!REGISTER HERE..!!</h1>
<form action="/register/" method="post">



  <div class="imgcontainer">
    <img src="/static/photos/aditi.jpeg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <b>Username</b>
    <input type="text" placeholder="Enter Username"  name="name" required>
    <b>Full name</b>
    <input type="text" placeholder="Enter Username"  name="fullname" required>
   
    <b>Password</b>
    <input type="password" placeholder="Enter Password" name="password" required>
    <b>Email</b>
    <input type="email" placeholder="Enter Email" name="email" required>
   <br>
   <input type="radio" name="usertype" value="student"> Student
   <input type="radio" name="usertype" value="librarian"> Librarian
   <br>
   {{usertypeerror}}
        
    <button type="submit">Register</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
      <a href="/login/">Already registered? Sign in! </a>
    </div>

</form>
</body>
	
</center>
</html>
